<app-hero title="404 Not Found"></app-hero>
<div>
  <div class="error-container">
    <img
      alt="pastedImage"
      src="assets/playground_assets/pastedimage-54jj-1000w.png"
      class="error-pasted-image"
    />
    <div class="error-group116">
      <button class="error-group125 button" [routerLink]="['']">
        <div class="error-group113"></div>
        <span class="error-text"><span>Back To Home</span></span>
      </button>
    </div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/57fb6f32-700e-46f2-ad8d-000eea34412b?org_if_sml=124205"
      alt="image11745371"
      class="error-image1174"
    />
  </div>
</div>
