<footer class="main-bg">
  <div class="container">
      <div class="flex">
          <div class="hekto">
              <h1 class="logo">NTT STORE</h1>
              <form>
                  <input type="text" placeholder="Enter Email Address">
                  <button>Sign Up</button>
              </form>
              <p class="grey-text">Contact Info</p>
              <p class="grey-text">17 Princess Road, London, Greater London NW1 8JR, UK</p>
          </div>
          <div>
              <h3>Categories</h3>
              <a [routerLink]="['/shop']">Laptop & Computers</a>
              <a [routerLink]="['/shop']">Cameras & Photography</a>
              <a [routerLink]="['/shop']">Smart Phones & Tablets</a>
              <a [routerLink]="['/shop']">Video Games & Consoles</a>
              <a [routerLink]="['/shop']">Waterproof Headphones</a>
          </div>
          <div>
              <h3>Customer Care</h3>
              <a [routerLink]="['/login']">My Account</a>
              <a [routerLink]="['/faq']">FAQ</a>
          </div>
          <div>
              <h3>Pages</h3>
              <a [routerLink]="['/home']">Home</a>
              <a [routerLink]="['/shop']">Browse the Shop</a>
              <a [routerLink]="['/contact-us']">Contact Us</a>
              <a [routerLink]="['about-us']">About Us</a>
          </div>
      </div>
  </div>
</footer>
<section class="footer">
  <div class="container">
      <div><p>&copy; NTT STORE - All Rights Reserved</p></div>
      <div class="icons">
          <img src="assets/img/Group 202.png" alt="">
          <img src="assets/img/Group 203.png" alt="">
          <img src="assets/img/Group 204.png" alt="">
      </div>
  </div>
</section>
