<div>
  <div class="footer-container">
    <div class="footer-footer">
      <div class="footer-footer1">
        <span class="footer-text paragraphtext">
          <span>Laptops &amp; Computers</span>
        </span>
        <span class="footer-text02 paragraphtext"><span>My Account</span></span>
        <span class="footer-text04 paragraphtext"><span>Blog</span></span>
        <span class="footer-text06 paragraphtext">
          <span>Browse the Shop</span>
        </span>
        <span class="footer-text08 paragraphtext"><span>Category</span></span>
        <span class="footer-text10 paragraphtext">
          <span>Pre-Built Pages</span>
        </span>
        <span class="footer-text12 paragraphtext">
          <span>Visual Composer Elements</span>
        </span>
        <span class="footer-text14 paragraphtext">
          <span>WooCommerce Pages</span>
        </span>
        <span class="footer-text16 paragraphtext"><span>Discount</span></span>
        <span class="footer-text18 paragraphtext"><span>Returns</span></span>
        <span class="footer-text20 paragraphtext">
          <span>Orders History</span>
        </span>
        <span class="footer-text22 paragraphtext">
          <span>Order Tracking</span>
        </span>
        <span class="footer-text24 paragraphtext">
          <span>Cameras &amp; Photography</span>
        </span>
        <span class="footer-text26 paragraphtext">
          <span>Smart Phones &amp; Tablets</span>
        </span>
        <span class="footer-text28 paragraphtext">
          <span>Video Games &amp; Consoles</span>
        </span>
        <span class="footer-text30 paragraphtext">
          <span>Waterproof Headphones</span>
        </span>
        <span class="footer-text32"><span>Hekto</span></span>
        <span class="footer-text34 listtitles"><span>Catagories</span></span>
        <span class="footer-text36 listtitles"><span>Customer Care</span></span>
        <span class="footer-text38 listtitles"><span>Pages</span></span>
        <span class="footer-text40 paragraphtext">
          <span>Contact Info</span>
        </span>
        <span class="footer-text42 paragraphtext">
          <span>17 Princess Road, London, Greater London NW1 8JR, UK</span>
        </span>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/b6174d83-e147-4d40-9a56-bac30cc31298?org_if_sml=1353"
          alt="Rectangle32I542"
          class="footer-rectangle32"
        />
        <span class="footer-text44 paragraphtext">
          <span>Enter Email Address</span>
        </span>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/33ed980d-dd9d-403b-959e-0ad66cb26943?org_if_sml=1316"
          alt="Rectangle33I542"
          class="footer-rectangle33"
        />
        <span class="footer-text46"><span>Sign Up</span></span>
      </div>
      <div class="footer-group245">
        <div class="footer-group168">
          <span class="footer-text48">
            <span>©Webecy - All Rights Reserved</span>
          </span>
        </div>
        <div class="footer-group205">
          <div class="footer-group202">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/f0404d99-0d83-4b13-aa30-045644ed1e30?org_if_sml=1451"
              alt="Ellipse41I542"
              class="footer-ellipse41"
            />
            <img
              src="/playground_assets/bxbxlfacebooki542-3yhi.svg"
              alt="bxbxlfacebookI542"
              class="footer-bxbxlfacebook"
            />
          </div>
          <div class="footer-group204">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/204f73c6-251b-4fdc-ba63-9c113a2dcfb6?org_if_sml=1482"
              alt="Ellipse43I542"
              class="footer-ellipse43"
            />
            <div class="footer-akariconstwitterfill">
              <div class="footer-group">
                <img
                  src="/playground_assets/vectori542-mbyf.svg"
                  alt="VectorI542"
                  class="footer-vector"
                />
              </div>
            </div>
          </div>
          <div class="footer-group203">
            <img
              src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/a88d7dbb-3e31-43ee-8e25-422fa2805436?org_if_sml=1470"
              alt="Ellipse42I542"
              class="footer-ellipse42"
            />
            <img
              src="/playground_assets/bxbxlinstagramalti542-msi.svg"
              alt="bxbxlinstagramaltI542"
              class="footer-bxbxlinstagramalt"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
