<!-- Contact Nav -->
<nav class="contact-nav">
  <div class="container">
      <div class="flex">
          <!-- Right Nav -->
          <div class="right-nav">
              <div>
                  <img src="assets/img/uil_envelope-alt.svg" alt="">
                  <p>YoussefElaloui.json@gmail.com</p>
              </div>
              <div>
                  <img src="assets/img/bx_bx-phone-call.svg" alt="">
                  <p>0622810965</p>
              </div>
          </div>

          <!-- Left nav -->
          <div class="left-nav">
              <a href="#">English <img src="assets/img/akar-icons_chevron-down2.svg" alt=""></a>
              <a href="#">USD <img src="assets/img/akar-icons_chevron-down2.svg" alt=""></a>
              <a *ngIf="!isLogin" [routerLink]="['/login']">Login <img src="assets/img/carbon_user.svg" alt=""></a>
              <a [routerLink]="['/cart']" *ngIf="isLogin"><img src="assets/img/fluent_cart-24-regular.svg" alt=""></a>
          </div>
      </div>
  </div>
</nav>

<!-- Main Nav -->
<nav class="main-nav">
  <div class="container">
      <div class="flex">
          <div class="logo"><h1>NTT STORE</h1></div>
          <div class="nav-items">
              <a href="./index.html" id="active">Home</a>
              <a [routerLink]="['about-us']">About Us</a>
              <a href="#">Products</a>
              <a href="./blog page.html">Blog</a>
              <a [routerLink]="['shop']">Shop</a>
              <a href="./contact us.html">Contact</a>
          </div>
          <form class="search-input">
              <input type="text">
              <button><img src="assets/img/uil_search.png" alt=""></button>
          </form>


          <!-- Hamburger menu -->
          <div class="hamburger-menu">
              <div class="hamburger-btn"><i class="fas fa-bars fa-2x"></i></div>
              <div class="menu">
                  <a href="./index.html" id="active">Home</a>
                  <a [routerLink]="['about-us']">About Us</a>
                  <a href="#">Products</a>
                  <a href="./blog page.html">Blog</a>
                  <a [routerLink]="['shop']">Shop</a>
                  <a href="./contact us.html">Contact</a>
                  <a  *ngIf="!isLogin" [routerLink]="['/login']">Login</a>
              </div>
          </div>


      </div>
  </div>
</nav>

