<div>
  <div class="header-container">
    <div class="header-headingbar">
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/9cf0809c-8152-46cb-897c-aaa243dc6cff?org_if_sml=1560"
        alt="Voilet bar"
        class="header-rectangle23"
      />
      <span class="header-text"><span>English</span></span>
      <span class="header-text02"><span>USD</span></span>
      <a href="#" class="header-text04"><span>Login</span></a>
      <a href="#" class="header-text06"><span>Wishlist</span></a>
      <span class="header-text08"><span>Elaloui.Youssef@nttdata.com</span></span>
      <span class="header-text10"><span>0622810965</span></span>
      <img
        src="assets/playground_assets/uilenvelopealti524-08yg.svg"
        alt="uilenvelopealtI524"
        class="header-uilenvelopealt"
      />
      <img
        src="assets/playground_assets/bxbxphonecalli524-rrwd.svg"
        alt="bxbxphonecallI524"
        class="header-bxbxphonecall"
      />
      <div class="header-group17">
        <div class="header-group16">
          <div class="header-akariconschevrondown">
            <div class="header-group">
              <img
                src="assets/playground_assets/vectori524-ko7g.svg"
                alt="VectorI524"
                class="header-vector"
              />
            </div>
          </div>
          <div class="header-akariconschevrondown1">
            <div class="header-group1">
              <img
                src="assets/playground_assets/vectori524-wl6.svg"
                alt="VectorI524"
                class="header-vector1"
              />
            </div>
          </div>
          <img
            src="assets/playground_assets/carbonuseri524-xgdl.svg"
            alt="carbonuserI524"
            class="header-carbonuser"
          />
        </div>
        <img
          src="assets/playground_assets/uilheartalti524-ep1s.svg"
          alt="uilheartaltI524"
          class="header-uilheartalt"
        />
        <div class="header-fluentcart24regular">
          <div class="header-group2">
            <img
              src="assets/playground_assets/vectori524-o0fi.svg"
              alt="VectorI524"
              class="header-vector2"
            />
            <img
              src="assets/playground_assets/vectori524-0oxe.svg"
              alt="VectorI524"
              class="header-vector3"
            />
            <img
              src="assets/playground_assets/vectori524-e7al.svg"
              alt="VectorI524"
              class="header-vector4"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="header-navbar">
      <a href="#" class="header-text12"><span>Pages</span></a>
      <a href="#" class="header-text14"><span>Products</span></a>
      <a href="#" class="header-text16"><span>Blog</span></a>
      <a href="#" class="header-text18"><span>Shop</span></a>
      <a href="#" class="header-text20"><span>Contact</span></a>

      <a href="#" class="header-text22"><span>NTTDATA</span></a>
      <div class="header-group13">
        <a href="#" class="header-text24"><span>Home</span></a>
      </div>
      <div class="header-akariconschevrondown2">
        <div class="header-group3">
          <img
            src="assets/playground_assets/vectori524-bp6.svg"
            alt="VectorI524"
            class="header-vector5"
          />
        </div>
      </div>
      <div class="header-uilsearch">
        <img
          src="assets/playground_assets/vectori524-v3a.svg"
          alt="VectorI524"
          class="header-vector6"
        />
      </div>
    </div>
  </div>
</div>
