<app-home-hero></app-home-hero>
<section class="featured">
  <div class="container">
      <div class="flex">
          <h2 class="main-header-text">Featured Products</h2>
          <div class="grid-wrapper">
              <div class="card" *ngFor="let product of productList.slice(0,4)"
              style="cursor: pointer;" (click)="goToProductDetails(product)">
                  <div class="thumbnail">
                      <img [src]="product.thumbnail" alt="">
                  </div>
                  <div class="description">
                      <h3 class="">{{product.title}}</h3>
                      <div class="indicator">
                          <span id="one"></span>
                          <span id="two"></span>
                          <span id="three"></span>
                      </div>
                      <div class="code">
                          <p>Discount</p>
                          <p>%{{product.discountPercentage}}</p>
                      </div>
                      <p class="price">${{product.price}}</p>
                  </div>
              </div>
          </div>
          <div class="slider-indicator">
              <span id="active"></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
</section>

<!-- Latest Products -->
<section class="latest">
  <div class="container">
      <div class="flex">
          <div class="product-nav">
              <h2 class="main-header-text">Latest Products</h2>
              <div class="links">
                  <a (click)="leatest('new')" [id]="leatedId=='new'?'active':''">New Arrival</a>
                  <a (click)="leatest('best')" [id]="leatedId=='best'?'active':''">Best Seller</a>
                  <a (click)="leatest('featured')" [id]="leatedId=='featured'?'active':''">Featured</a>
                  <a (click)="leatest('special')" [id]="leatedId=='special'?'active':''">Special Offer</a>
              </div>
          </div>
          <div class="flex-wrapper bold-text main-header-text">
              <div class="col" *ngFor="let product of leatestProds"
              style="cursor: pointer;" (click)="goToProductDetails(product)">
                  <div class="thumbnail">
                      <img [src]="product.thumbnail" alt="product thumbnail">
                  </div>
                  <div class="text">
                      <p>{{product.title}}</p>
                      <div class="tag">
                          <p>${{product.price}}</p>
                          <p class="line-through pink-text">${{(product.price+(product.price*product.discountPercentage/100)).toFixed(2)}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Shopex -->
<section class="shopex">
  <div class="container">
      <h2 class="main-header-text">What Shopex Offer!</h2>
      <div class="flex">
          <div class="small-card">
              <img src="assets/img/free-delivery 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">Free delivery</h3>
                  <p class="grey-text">Delivered on time, and still for free.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="assets/img/cashback 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">Cashback</h3>
                  <p class="grey-text">Keep calm and keep shopping with the Ntt offers.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="assets/img/premium-quality 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">Premium Quality</h3>
                  <p class="grey-text">Don't be satisfied with anything less than perfect quality! We're out to make quality happen! Quality.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="assets/img/24-hours-support 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Politeness goes far, yet costs nothing. Put customers first. Satisfied customers are our best ads. The customer is always right.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Unique Features -->
<section class="unique-features main-bg">
  <div class="container">
      <div class="flex">
          <div class="image">
              <img [src]="productList[4].thumbnail" class="sofa">
          </div>
          <div class="product-features">
              <h2 class="main-header-text" id="text-left">Unique Features Of latest &
                  Trending Products
              </h2>
              <div class="feature-list">
                  <div class="list">
                      <span class="bullet-1 bullets"></span>
                      <p class="grey-text">{{productList[4].description}}</p>
                  </div>
                  <div class="list">
                      <span class="bullet-2 bullets"></span>
                      <p class="grey-text">{{productList[4].brand}}</p>
                  </div>
                  <div class="list">
                      <span class="bullet-3 bullets"></span>
                      <p class="grey-text">{{productList[4].category}}</p>
                  </div>
              </div>
              <form>
                  <button class="primary-btn"><a href="./shoping cart.html">Add To Cart</a></button>
                  <div>
                      <h5 class="blue-text">{{productList[4].title}}</h5>
                      <p class="blue-text">${{productList[4].price}}</p>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>

<!-- Trending -->
<section class="trending">
  <div class="container">
      <div class="flex">
          <h2 class="main-header-text">Trending Products</h2>
          <div class="flex-wrapper">
              <div class="card" *ngFor="let product of productList.slice(5)"
              style="cursor: pointer;" (click)="goToProductDetails(product)">
                  <div class="thumbnail">
                      <img [src]="product.thumbnail" alt="">
                  </div>
                  <div class="description">
                      <h3 class="main-header-text">{{product.title}}</h3>
                      <div class="price">
                          <p class="main-header-text bold-text">${{product.price}}</p>
                          <p class="line-through grey-text">${{(product.price+(product.price*product.discountPercentage/100)).toFixed(2)}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Discount Item -->
<section class="discount-item">
  <div class="container">
      <div class="flex">
          <h2 class="main-header-text">Discount</h2>

          <div class="discount-showcase">
              <!-- Left side -->
              <div class="left-side">
                  <h1 class="main-header-text" id="text-left">20% Discount Of All Products</h1>
                  <h3 class="pink-text">Earn Sofa Compact</h3>
                  <p class="grey-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Quam doloremque commodi facilis quas voluptatibus!</p>
                  <div class="features grey-text">
                      <div>
                          <i class="fas fa-check"></i>Material expose like metals
                      </div>
                      <div>
                          <i class="fas fa-check"></i>Clear lines and geomatic figures
                      </div>
                      <div>
                          <i class="fas fa-check"></i>Simple neutral colours.
                      </div>
                      <div>
                          <i class="fas fa-check"></i>Material expose like metals
                      </div>
                  </div>
                  <button class="primary-btn">Shop Now</button>
              </div>

              <!-- Right side with image-->
              <div class="right-side">
                  <img src="assets/img/Ellipse 60.svg" alt="" class="ellipse">
                  <img src="assets/img/tortuga-01-b 1.png" alt="" class="chair">
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Top Categories -->
<section class="top">
  <div class="container">
      <div class="flex">
          <h2 class="main-header-text">Top Categories</h2>
          <div class="flex-wrapper">
              <div class="chair-showcase" *ngFor="let product of categoryProds"
              style="cursor: pointer;" (click)="goToProductDetails(product)">
                  <div class="rounded-card">
                      <img [src]="product.thumbnail" alt="">
                  </div>
                  <h3>{{product.title}}</h3>
                  <p>${{product.price}}</p>
              </div>
          </div>
          <div class="indicators">
              <span id="active"></span>
              <span></span>
              <span></span>
          </div>
      </div>
  </div>
</section>

<!-- Newsletter -->
<section class="newsletter" style="background-image: url(assets/img/Rectangle\ 102.png);">
  <div class="container">
      <div class="flex">
          <h2 class="main-header-text">Get Latest Update By Subscribing<br>
              to our Newsletter
          </h2>
          <button class="primary-btn">Shop Now</button>
      </div>
  </div>
</section>

<!-- Sponsors -->
<section class="sponsors">
  <div class="container">
      <div class="flex">
          <img src="assets/img/image 1174.png" alt="">
      </div>
  </div>
</section>

<!-- Latest Blog -->
<section class="blog">
  <div class="container">
      <h2 class="main-header-text">Latest Blog</h2>
      <div class="flex">
          <article>
              <div class="thumbnail">
                  <img src="assets/img/JIUjvqe2ZHg.png" alt="">
              </div>
              <div class="description">
                  <div class="about">
                      <h5>Saber Ali</h5>
                      <h5>21 August,2020</h5>
                  </div>
                  <h3 class="blue-text">Top essential Trends in 2021</h3>
                  <p>More off this less hello samlande lied much
                      over tightly circa horse taped mightly
                  </p>
                  <a href="./single blog.html">Read More</a>
              </div>
          </article>
          <article>
              <div class="thumbnail">
                  <img src="assets/img/2dcYhvbHV-M.png" alt="">
              </div>
              <div class="description">
                  <div class="about">
                      <h5>Saber Ali</h5>
                      <h5>21 August,2020</h5>
                  </div>
                  <h3 id="active">Top essential Trends in 2021</h3>
                  <p>More off this less hello samlande lied much
                      over tightly circa horse taped mightly
                  </p>
                  <a id="active" href="./single blog.html">Read More</a>
              </div>
          </article>
          <article>
              <div class="thumbnail">
                  <img src="assets/img/2dcYhvbHV-M (1).png" alt="">
              </div>
              <div class="description">
                  <div class="about">
                      <h5>Saber Ali</h5>
                      <h5>21 August,2020</h5>
                  </div>
                  <h3 class="blue-text">Top essential Trends in 2021</h3>
                  <p>More off this less hello samlande lied much
                      over tightly circa horse taped mightly
                  </p>
                  <a href="./single blog.html">Read More</a>
              </div>
          </article>
      </div>
  </div>
</section>
