<!-- Hero section -->
<div>
  <div class="hero-container">
    <div class="hero-promotionalbutton">
      <div class="hero-sofapromotionalheader">
        <div class="hero-group129">
        </div>
        <div class="hero-group130" style="margin-left: -200px;">
          <img
            src="assets/playground_assets/vector145247-6rm.svg"
            alt="Vector145247"
            class="hero-vector14"
          />
          <span class="hero-text">%50</span>
        </div>
        <img
          src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/1977d296-18a6-4930-8094-58ea713231b9?org_if_sml=1231958"
          alt="ShellShapedArmchairPinkVelvetFabricOneSeaterSofafo5247"
          class="hero-shell-shaped-armchair-pink-velvet-fabric-one-seater-sofafo"
          style="width:70%"
        />
      </div>
      <div class="hero-shopnowbutton">
        <span class="hero-text1"><span>Shop Now</span></span>
      </div>
      <div class="hero-headertext">
        <span class="hero-text3">
          NTTData is one of the world leading compagnies in it&apos;s area
        </span>
        <span class="hero-text4">
          <span>New Furniture Collection</span>
          <br class="hero-text6" />
          <span>Trends in 2020</span>
        </span>
      </div>
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/9b43f332-1494-4f1a-8b8c-775c20deabef?org_if_sml=1324"
        alt="Ellipse625248"
        class="hero-ellipse62"
      />
      <img
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/67d36561-ecaa-496a-904f-23995d9b4c06?org_if_sml=137225"
        alt="image325248"
        class="hero-image32"
      />
    </div>
  </div>
</div>
<!-- Hero section -->
