<header class="hero-section main-bg">
  <div class="container">
      <div class="flex">
          <img src="assets/img/image 32.png" class="lamp">
          <div class="hero-text">
              <h2 class="pink-text">Best Widgets For Your Castle...</h2>
              <h1>New Collection Trends in 2020</h1>
              <p class="grey-text">Ntt Store is one of the world leading companies in it's area of expertise.</p>
              <button [routerLink]="['/shop']" class="primary-btn">Shop Now</button>
          </div>
          <div class="hero-img">
              <img src="assets/img/Ellipse 60.svg" alt="" class="ellipse-1 ellipse">
              <img src="assets/img/Ellipse 60.svg" alt="" class="ellipse-2 ellipse">
              <img src="assets/img/Group 130.png" alt="" class="discount">
              <img src="assets/img/Shell-Shaped-Armchair-Pink-Velvet-Fabric-One-Seater-Sofa-for-Living-Room 1.png" alt="" class="couch">
          </div>
      </div>
  </div>
</header>
