header.hero-section .flex {
  display: grid;
  grid-template-columns: 450px 450px;
  place-items: center;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

header.hero-section .flex > * {
  margin: 10px;
}

header.hero-section .container {
  position: relative;
}
.lamp {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  left: -150px;
}

.hero-img {
  position: relative;
}

.hero-img .ellipse {
  position: absolute;
  z-index: 0;
}

.hero-img .ellipse-1 {
  top: -20px;
  left: 50px;
}

.hero-img img {
  max-width: 85%;
}

.hero-img .couch {
  position: relative;
  z-index: 2;
}

.hero-img .discount {
  position: absolute;
  z-index: 3;
  right: 70px;
  width: 70px;
}
