<section class="product-details-page">
  <div class="container">
      <div class="product">
          <div class="product-img">
              <div class="side-1"><img [src]="product.images[0]" alt=""></div>
              <div class="side-2"><img [src]="product.images.length>1?product.images[1]:product.images[0]" alt=""></div>
              <div class="side-3"><img [src]="product.images.length>2?product.images[2]:product.images[0]" alt=""></div>
              <div class="side-4"><img [src]="product.thumbnail" alt=""></div>
          </div>
          <div class="product-details">
              <h2 class="blue-text">{{product.title}}</h2>
              <div class="rating">
                  <i class="fas fa-star yellow" *ngFor="let star of [].constructor(floor(product.rating))"></i>
              </div>
              <div class="price">
                  <p class="blue-text">${{product.price}}</p>
                  <p class="pink-text line-through">${{(product.price+(product.price*product.discountPercentage/100)).toFixed(2)}}</p>
              </div>
              <div class="color">
                  <h3 class="blue-text">{{product.brand}}</h3>
              </div>
              <div class="about">
                  <p class="grey-text">{{product.description}}</p>
              </div>
              <button (click)="addToCart(product)" >Add To Cart</button>
              <div class="categories">
                  <h3 class="blue-text">Category: {{product.category}}</h3>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="related-product-container">
  <div class="container">
      <h2 class="blue-text">Related Products</h2>
      <div class="related-products">
          <div class="product" *ngFor="let product of relatedList" style="cursor:pointer" (click)="goToProductDetails(product)">
              <img [src]="product.thumbnail" alt="Product Image">
              <div>
                  <h3 class="blue-text">{{product.title}}</h3>
                  <div class="rating">
                      <i class="fas fa-star yellow" *ngFor="let i of [].constructor(floor(product.rating))"></i>
                  </div>
              </div>
              <div class="price"><p class="blue-text">${{product.price}}</p></div>
          </div>
      </div>
  </div>
</section>

<!-- Sponsors -->
<section class="sponsors">
  <div class="container">
      <div class="flex">
          <img src="assets/img/image 1174.png" alt="">
      </div>
  </div>
</section>
