<app-hero title="FAQ"></app-hero>
<div class="faq-container">
  <div class="container">
      <div class="faq">
          <h2 class="blue-text">General Information</h2>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
          <div>
              <h3 class="blue-text">Eu dictumst cum at sed euismood condimentum?</h3>
              <p class="grey-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis facere sunt nemo optio sint at culpa fugiat id nam?</p>
          </div>
      </div>

      <div class="ask-question-form">
          <h2 class="blue-text">Ask a Question</h2>
          <input type="text" placeholder="Your Name*">
          <input type="text" placeholder="Subject*">
          <textarea cols="30" rows="10">Type your Message*</textarea>
          <button>Send Mail</button>
      </div>
  </div>
</div>
<!-- Sponsors -->
<section class="sponsors">
  <div class="container">
      <div class="flex">
          <img src="assets/img/image 1174.png" alt="">
      </div>
  </div>
</section>
