<app-hero title="About Us"></app-hero>
<section class="about-us">
  <div class="container">
      <img src="assets/img/about us/Group 73.png" alt="">
      <div>
          <h2 class="blue-text">Know About Our Ecommerce Business, History</h2>
          <p class="grey-text">a business model where buyers and sellers exchange goods and services with consumers over the internet.</p>
          <button>Contact us</button>
      </div>
  </div>
</section>

<!-- Shopex -->
<section class="shopex">
  <div class="container">
      <h2 class="main-header-text">Our Features</h2>
      <div class="flex">
          <div class="small-card">
              <img src="assets/img/free-delivery 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">Free Delivery</h3>
                  <p class="grey-text">Delivered on time, and still for free.</p>
              </div>
          </div>
          <div class="small-card" id="active-card">
              <img src="assets/img/cashback 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">100% Cash Back</h3>
                  <p class="grey-text">Keep calm and keep shopping with the Ntt offers.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="assets/img/premium-quality 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">quality Product</h3>
                  <p class="grey-text">Don't be satisfied with anything less than perfect quality! We're out to make quality happen! Quality.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="assets/img/24-hours-support 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Politeness goes far, yet costs nothing. Put customers first. Satisfied customers are our best ads. The customer is always right.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- What our clients say -->
<section class="testimony">
  <div class="container">
      <h2>Our Client Say!</h2>
      <img src="assets/img/about us/Group 200.png" alt="">
      <div class="client">
          <h3>Selina Gomez</h3>
          <p class="grey-text">Ceo at Ntt Store digital</p>
      </div>
      <p class="grey-text">Today is not yesterday, every age goes through evolutions, and this age evolution name is Ntt Store</p>
  </div>
</section>
