<app-hero title="About Us"></app-hero>
<div class="about-container">
  <div class="about-group73">
    <div class="about-group72"></div>
    <img
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/0c57bd11-cbd8-46c9-a0f6-54790dd6c492/36025e54-181c-4f9d-9b59-b0208e1f1571?org_if_sml=1245849"
      alt="Rectangle565418"
      class="about-rectangle56"
    />
  </div>
  <div class="about-container1">
    <div class="about-group74">
      <div class="about-group63">
        <div class="about-group75">
          <span class="about-text">
            <span>
              <span>Know About Our Ecomerce</span>
              <br />
              <span>Business, History</span>
            </span>
          </span>
          <span class="about-text5">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis
              neque ultrices mattis aliquam, malesuada diam est. Malesuada sem
              tristique amet erat vitae eget dolor lobortis. Accumsan faucibus
              vitae lobortis quis bibendum quam.
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="about-group76 button">
      <span class="about-text7"><span>Contact us</span></span>
    </div>
  </div>
</div>

<div class="offer-container">
  <span class="offer-text captiontitle"><span>Our Features</span></span>
  <div class="offer-group266">
    <div class="offer-freedelivery1">
      <div class="offer-group">
        <div class="offer-group01">
          <img
            src="assets/playground_assets/vector5262-w6kk.svg"
            alt="Vector5262"
            class="offer-vector"
          />
          <img
            src="assets/playground_assets/vector5262-8pcm.svg"
            alt="Vector5262"
            class="offer-vector01"
          />
        </div>
        <div class="offer-group02">
          <div class="offer-group03">
            <img
              src="assets/playground_assets/vector5262-yn2p.svg"
              alt="Vector5262"
              class="offer-vector02"
            />
            <img
              src="assets/playground_assets/vector5263-o5r.svg"
              alt="Vector5263"
              class="offer-vector03"
            />
          </div>
          <img
            src="assets/playground_assets/vector5263-4lr4.svg"
            alt="Vector5263"
            class="offer-vector04"
          />
          <div class="offer-group04">
            <img
              src="assets/playground_assets/vector5263-onv.svg"
              alt="Vector5263"
              class="offer-vector05"
            />
            <img
              src="assets/playground_assets/vector5263-wttc.svg"
              alt="Vector5263"
              class="offer-vector06"
            />
          </div>
        </div>
        <div class="offer-group05">
          <img
            src="assets/playground_assets/vector5263-6lc8.svg"
            alt="Vector5263"
            class="offer-vector07"
          />
          <img
            src="assets/playground_assets/vector5263-qz1.svg"
            alt="Vector5263"
            class="offer-vector08"
          />
          <img
            src="assets/playground_assets/vector5263-8stc.svg"
            alt="Vector5263"
            class="offer-vector09"
          />
        </div>
        <div class="offer-group06">
          <img
            src="assets/playground_assets/vector5264-hffn.svg"
            alt="Vector5264"
            class="offer-vector10"
          />
          <img
            src="assets/playground_assets/vector5264-9pjq.svg"
            alt="Vector5264"
            class="offer-vector11"
          />
          <img
            src="assets/playground_assets/vector5264-xnki.svg"
            alt="Vector5264"
            class="offer-vector12"
          />
        </div>
        <div class="offer-group07">
          <img
            src="assets/playground_assets/vector5264-2itw.svg"
            alt="Vector5264"
            class="offer-vector13"
          />
          <img
            src="assets/playground_assets/vector5264-dx6s.svg"
            alt="Vector5264"
            class="offer-vector14"
          />
          <img
            src="assets/playground_assets/vector5264-lnzb.svg"
            alt="Vector5264"
            class="offer-vector15"
          />
          <img
            src="assets/playground_assets/vector5264-hw5.svg"
            alt="Vector5264"
            class="offer-vector16"
          />
        </div>
      </div>
    </div>
    <div class="offer-premiumquality1">
      <div class="offer-group08">
        <div class="offer-group09">
          <img
            src="assets/playground_assets/vector5265-ocwq.svg"
            alt="Vector5265"
            class="offer-vector17"
          />
          <img
            src="assets/playground_assets/vector5265-x89g.svg"
            alt="Vector5265"
            class="offer-vector18"
          />
          <img
            src="assets/playground_assets/vector5265-t7ih.svg"
            alt="Vector5265"
            class="offer-vector19"
          />
        </div>
        <div class="offer-group10">
          <img
            src="assets/playground_assets/vector5265-0pdb.svg"
            alt="Vector5265"
            class="offer-vector20"
          />
          <img
            src="assets/playground_assets/vector5265-h5s.svg"
            alt="Vector5265"
            class="offer-vector21"
          />
          <img
            src="assets/playground_assets/vector5265-b46s.svg"
            alt="Vector5265"
            class="offer-vector22"
          />
        </div>
        <div class="offer-group11">
          <div class="offer-group12">
            <img
              src="assets/playground_assets/vector5266-xntq.svg"
              alt="Vector5266"
              class="offer-vector23"
            />
            <img
              src="assets/playground_assets/vector5266-t525.svg"
              alt="Vector5266"
              class="offer-vector24"
            />
          </div>
          <div class="offer-group13">
            <img
              src="assets/playground_assets/vector5266-2ekn.svg"
              alt="Vector5266"
              class="offer-vector25"
            />
            <img
              src="assets/playground_assets/vector5266-d8kq.svg"
              alt="Vector5266"
              class="offer-vector26"
            />
          </div>
        </div>
        <div class="offer-group14">
          <img
            src="assets/playground_assets/vector5266-t4vp.svg"
            alt="Vector5266"
            class="offer-vector27"
          />
          <img
            src="assets/playground_assets/vector5266-5vgs.svg"
            alt="Vector5266"
            class="offer-vector28"
          />
        </div>
      </div>
    </div>
    <div class="offer-frame24hourssupport1">
      <div class="offer-group15">
        <div class="offer-group16">
          <img
            src="assets/playground_assets/vector5267-413m.svg"
            alt="Vector5267"
            class="offer-vector29"
          />
          <img
            src="assets/playground_assets/vector5267-kexw.svg"
            alt="Vector5267"
            class="offer-vector30"
          />
        </div>
        <div class="offer-group17">
          <div class="offer-group18">
            <img
              src="assets/playground_assets/vector5267-mmw8.svg"
              alt="Vector5267"
              class="offer-vector31"
            />
            <img
              src="assets/playground_assets/vector5267-4f5f.svg"
              alt="Vector5267"
              class="offer-vector32"
            />
          </div>
          <img
            src="assets/playground_assets/vector5267-qza8.svg"
            alt="Vector5267"
            class="offer-vector33"
          />
        </div>
        <div class="offer-group19">
          <img
            src="assets/playground_assets/vector5267-nqne.svg"
            alt="Vector5267"
            class="offer-vector34"
          />
          <img
            src="assets/playground_assets/vector5268-3ep3.svg"
            alt="Vector5268"
            class="offer-vector35"
          />
        </div>
      </div>
    </div>
    <img
      src="assets/playground_assets/cashback15268-66rd.svg"
      alt="cashback15268"
      class="offer-cashback1"
    />
  </div>
</div>
