.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-bottom: 150px;
  margin-top: 50px;
  margin-left: 50px;
  align-items: center;
  flex-direction: row;
}
.about-group73 {
  width: 570px;
  height: 409px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-group72 {
  top: 0px;
  left: 0px;
  width: 552px;
  height: 409px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(43, 60, 171, 1);
}
.about-rectangle56 {
  top: 0px;
  left: 15px;
  width: 555px;
  height: 390px;
  position: absolute;
  border-color: transparent;
  border-radius: 6px;
}
.about-container1 {
  flex: 0 0 auto;
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.about-group74 {
  width: 550px;
  height: 159px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-group63 {
  top: 0px;
  left: 0px;
  width: 550px;
  height: 159px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-group75 {
  top: 0px;
  left: 0px;
  width: 550px;
  height: 159px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-text {
  top: -89px;
  color: var(--dl-color-default-text);
  right: 8px;
  width: 522px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Bold Roman;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 700;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text5 {
  color: var(--dl-color-default-subtextcolor);
  right: -22px;
  width: 550px;
  bottom: 20px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: 25.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}
.about-group76 {
  width: 145px;
  height: 44px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: var(--dl-space-space-oneandhalfunits);
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(251, 46, 134, 1);
}
.about-text7 {
  top: 9px;
  left: 30px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lato;
  font-weight: 600;
  line-height: 25.600000381469727px;
  font-stretch: normal;
  text-decoration: none;
}


.offer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  margin-bottom: 255px;
  margin-top: 150px;
  align-items: center;
  flex-direction: column;
}
.offer-text {
  color: var(--dl-color-default-text);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.offer-group266 {
  width: 60%;
  height: 65px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-ce;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin: auto;
  border-radius: 0px 0px 0px 0px;
  margin-top: 40px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-freedelivery1 {
  top: 0px;
  left: 0px;
  width: 65px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.offer-group {
  top: 11.069185256958008px;
  left: -0.000007241964340209961px;
  width: 65.0003433227539px;
  height: 42.86127471923828px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group01 {
  top: 22.891138076782227px;
  left: 15.91710090637207px;
  width: 39.29053497314453px;
  height: 13.206279754638672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector01 {
  top: 2.061656951904297px;
  left: -3.8743019104003906e-7px;
  width: 39px;
  height: 11px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group02 {
  top: 0px;
  left: 0px;
  width: 65.0003433227539px;
  height: 36.09735870361328px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group03 {
  top: 0px;
  left: 1.0954818725585938px;
  width: 63.90486145019531px;
  height: 36.09735870361328px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector02 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector03 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector04 {
  top: 32.23193359375px;
  left: 0px;
  width: 8px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group04 {
  top: 11.820318222045898px;
  left: 4.82661247253418px;
  width: 11.091228485107422px;
  height: 8.17068099975586px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector05 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector06 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group05 {
  top: 29.33302116394043px;
  left: 39.10258483886719px;
  width: 13.528778076171875px;
  height: 13.528255462646484px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector07 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector08 {
  top: 0.1427001953125px;
  left: 0.14315757155418396px;
  width: 13px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector09 {
  top: 3.865375518798828px;
  left: 3.8649439811706543px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group06 {
  top: 29.33302116394043px;
  left: 6.254629135131836px;
  width: 13.52859878540039px;
  height: 13.528255462646484px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector10 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector11 {
  top: 0.1427001953125px;
  left: 0.14298638701438904px;
  width: 13px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector12 {
  top: 3.865375518798828px;
  left: 3.8649497032165527px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group07 {
  top: 8.869152069091797px;
  left: 27.628530502319336px;
  width: 23.4055233001709px;
  height: 7.730262756347656px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector13 {
  top: 0.000732421875px;
  left: -3.8743019104003906e-7px;
  width: 5px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector14 {
  top: 0.0001544952392578125px;
  left: 5.688516139984131px;
  width: 6px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector15 {
  top: 0px;
  left: 12.514848709106445px;
  width: 5px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector16 {
  top: 0px;
  left: 18.510499954223633px;
  width: 5px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.offer-premiumquality1 {
  top: 0px;
  left: 596px;
  width: 65px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.offer-group08 {
  top: -8.536576956430508e-7px;
  left: 8.103963851928711px;
  width: 48.79264831542969px;
  height: 65.00033569335938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group09 {
  top: 36.538719177246094px;
  left: 0px;
  width: 24.395723342895508px;
  height: 28.46161651611328px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector17 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector18 {
  top: 8.536576956430508e-7px;
  left: 11.494503021240234px;
  width: 13px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector19 {
  top: 8.536576956430508e-7px;
  left: 7.888858795166016px;
  width: 12px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group10 {
  top: 36.538719177246094px;
  left: 24.396520614624023px;
  width: 24.396129608154297px;
  height: 28.46161651611328px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector20 {
  top: 8.536576956430508e-7px;
  left: 6.7790679931640625px;
  width: 18px;
  height: 22px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector21 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector22 {
  top: 8.536576956430508e-7px;
  left: 4.876792907714844px;
  width: 12px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group11 {
  top: 0px;
  left: 1.7495841979980469px;
  width: 45.29199981689453px;
  height: 45.2923469543457px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group12 {
  top: 1.906254768371582px;
  left: 1.9062480926513672px;
  width: 41.47914123535156px;
  height: 41.47914505004883px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector23 {
  top: 1.919266878758208e-8px;
  left: 19.38365936279297px;
  width: 22px;
  height: 41px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector24 {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 41px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group13 {
  top: 0px;
  left: 0px;
  width: 45.29199981689453px;
  height: 45.2923469543457px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector25 {
  top: 0px;
  left: 21.289899826049805px;
  width: 24px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector26 {
  top: 5.6843418860808015e-14px;
  left: 0px;
  width: 23px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group14 {
  top: 12.416160583496094px;
  left: 12.999116897583008px;
  width: 22.794456481933594px;
  height: 18.851715087890625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector27 {
  top: -1.0001662076319917e-7px;
  left: 10.041370391845703px;
  width: 13px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector28 {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.offer-frame24hourssupport1 {
  top: 0px;
  left: 894px;
  width: 65px;
  height: 65px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
}
.offer-group15 {
  top: 0.0029802098870277405px;
  left: -7.105427357601002e-14px;
  width: 64.99998474121094px;
  height: 64.99349975585938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group16 {
  top: 0px;
  left: 0px;
  width: 62.349735260009766px;
  height: 62.06489944458008px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector29 {
  top: 0px;
  left: 0px;
  width: 62px;
  height: 62px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector30 {
  top: 9.813936233520508px;
  left: 9.942434310913086px;
  width: 39px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group17 {
  top: 16.43169593811035px;
  left: 8.17458724975586px;
  width: 33.969017028808594px;
  height: 27.716232299804688px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-group18 {
  top: 0px;
  left: 0px;
  width: 19.08510971069336px;
  height: 12.25161075592041px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector31 {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector32 {
  top: 0.002404235303401947px;
  left: 8.774297714233398px;
  width: 10px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector33 {
  top: 15.464943885803223px;
  left: 26.11642074584961px;
  width: 8px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
}
.offer-group19 {
  top: 27.194231033325195px;
  left: 27.351579666137695px;
  width: 37.648406982421875px;
  height: 37.79927062988281px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.offer-vector34 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
}
.offer-vector35 {
  top: 3.719180107116699px;
  left: 3.718648910522461px;
  width: 34px;
  height: 34px;
  position: absolute;
  box-sizing: border-box;
}
.offer-cashback1 {
  top: 0px;
  left: 298px;
  width: 65px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
}
