<app-hero title="Order completed"></app-hero>
<section class="order-page">
  <div class="container">
      <div class="order-container">
          <img src="assets/img/order completed/clock 1.svg" alt="" class="absolute">
          <img src="assets/img/order completed/checklist 1.svg" alt="" class="absolute-1">
          <div>
              <img src="assets/img/order completed/Vector 15.svg" alt="">
              <h2 class="blue-text">Your Order Is Completed!</h2>
              <p class="grey-text">Thank you for the order! Your order is being
                  processed and will be completed within 3-6
                  hours. You will receive an email confirmation when your order is completed.
              </p>
              <button [routerLink]="['']">Continue Shopping</button>
          </div>
      </div>
  </div>
</section>
